body {
    background: url(./imagenes/universo.gif);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
div {
    color:  #f5f5dc;
    text-shadow: 1px 1px 1px yellow;
}
.caja-contenedora {
    border: 10px double #f5f5dc;
    width: 800px;
    height: 850px;
}
.caja-contenedora-imagenes-espaciado {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 800px;
    height: 800px;
}
.caja-items-imagenes {
    display: flex;
    flex-flow: column nowrap;
    width: 150px;
    height:850px;
}
.Ra {
    background-size: cover;
    width: 150px;
    height: 250px;
}
.duende {
    background-size: cover;
    width: 150px;
    height: 200px;
}
.sirena {
    height: 212px;
}
.sumeria3 {
    height: 212px;
}
.caja-contenedora-titulos-secciones {
    background: url(./imagenes/FondoFantasia.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    width: 500px;
    height: 850px;
}
.titulo {
    background: url(./imagenes/TablaSumeria2.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1px;
    padding: 60px;
}
.titulo-umbral {
    display: flex;
    font-size: xx-large;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 150px;
}
.slogan {
    text-align: center;
}
.foto-e-informacion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 500px;
    height: 800px;
}    
.seccion {
    display: flex;
    justify-content: center;
}
.pregunta {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.foto-con-info {
    display: flex;
    padding: 1rem;
    width: 500px;
    height: 300px;
    gap: 1rem;
}
.foto-mia {
    background: url(./imagenes/Yo\ ;D.jpg);
    background-size: cover;
    width: 210px;
    height: 290px;
}
.informacion {
    align-items: flex-start;
    width: 250px;
    height: 300px;
}
.seccion1 {
    display: flex;
    justify-content: center;
}
.elviaje-foto-info {
    display: flex;
    padding: 1rem;
    width: 500px;
    height: 280px;
    gap: 1rem;
}
.elviaje {
    background: url(./imagenes/ElViaje.jpg.png);
    background-size: cover;
    width: 210px;
    height: 290px;
}
.info-elviaje {
    width: 250px;
    height: 290px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}
.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 50px;
}