body {
    background:gray;
    font-family: "Cinzel decorative", serif;
    text-shadow: 1px 1px 1px yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    width: 500px;
    height: 100px;
    color: #F5F5DC;

}
p {
    color: #F5F5DC;
}
h3 {
    color: #F5F5DC;
}
.imagenes-centro {
    margin-right: 2rem;
    background-size: cover;
    width: 220px;
    height: 300px;
}
.leer {
    color: #F5F5DC;
}
footer {
    color: #F5F5DC;
}
.caja-contenedora-principal {
    background: gray;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 800px;
    height: 850px;
}
.caja-contenedora-secundaria {
    background: crimson;
    width: 100px;
    height: auto;
}
.centro {
    background: url(./imagenes/FondoFantasia.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 560px;
    height: 900px;
}
/*Acá irá segmentado los articulos con display flex y column en direction. Ya que necesito el texto junto a la imagen en largo.*/
.titulo-hoved:hover {
    text-shadow: 2px 2px 2px yellow;
}
.sub-titulos:hover {
    text-shadow: 2px 2px 2px yellow;
}
.sub-titulos {
    margin-top: 2.3rem;
    justify-content: center;
    text-align: center;
    width: 600px;
    height: auto;
}
.caja-contenedora-articulos-uno {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: -1.5rem;
    width: 600px;
    height: 300px;
    padding: 1rem;
    gap: 10px;
}
.descripcion-general-sobre-mi {
    margin-top: -1px;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    text-align: start;
    width: 260px;
    height: 300px;
}
.caja-titulo-slogan {
    background: url(./imagenes/TablaSumeria2.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50px;
}
.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 30px;
}
.copyright {
    margin-top: 1.3rem;
}